<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand"  routerLink="/" (click)="onLogoClick()">Shop Unlimited</a>
           <p *ngIf="user" class="navbar-brand align-right  justify-content-end">{{user}}</p>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
 



      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto  justify-content-end">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}" *ngIf="!isLoggedIn() && !isLoggingIn">

              <button type="button" class="btn btn-secondary" (click)="openLogin()">Login</button>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}" *ngIf="isLoggedIn()">

                <button type="button" class="btn btn-secondary" (click)="onLogout()">Logout</button>
              </li>
          </ul>
       
      </div>
    </nav>
<!-- 
      <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-login></app-login>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div> -->



  </header>


<div *ngIf="isLoggingIn">

    <app-login></app-login>
</div>
