
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Login</h4>
    <button type="button" class="close" aria-label="Close" (click)="loginModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-primary" role="alert" *ngIf="isVisible">
        {{responseText}}
    </div>

    <form [formGroup]="doLoginForm" (ngSubmit)="sendOTP()" *ngIf="!isVerifyOTP">


        <div class="container">

            <label for="mobile_number"><b>Mobile Number</b></label>

            <input type="text" placeholder="Enter Mobile number" formControlName="mobile_number">
            <span class="error"
                [hidden]="doLoginForm.controls.mobile_number.valid || doLoginForm.controls.mobile_number.pristine">
                <p *ngIf="doLoginForm.controls.mobile_number.errors?.required">
                    Mobile Number Required
                </p>

            </span>

            <div class="align-centre">
                <button type="submit" class="btn btn-primary btn-block align-centre">Send OTP</button>


            </div>
        </div>


    </form>


    <form [formGroup]="verifyOtpForm" (ngSubmit)="verifyOTP()" *ngIf="isVerifyOTP">


        <div class="container">

            <label for="otp"><b>OTP</b></label>

            <input type="text" placeholder="Enter OTP" formControlName="otp">
            <span class="error" [hidden]="verifyOtpForm.controls.otp.valid || verifyOtpForm.controls.otp.pristine">
                <p *ngIf="verifyOtpForm.controls.otp.errors?.required">
                    OTP Required
                </p>

            </span>



            <div class="align-centre">
                <button type="submit" class="btn btn-primary btn-block align-centre">Verify OTP</button>
           </div>
           <div class="align-centre">
            <button class="btn btn-primary btn-block align-centre" (click)="reEnter()">Re-Enter Mobile Number</button>
       </div>
        </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger btn-block align-centre" (click)="loginModal.close('Save click')">Close</button>
  </div>